{% extends 'base.html' %}
{% block title %}{{block.super}}{% endblock %}

{% block styles %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}} 
{% endblock styles %}

{% block nav %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock nav %}

{% block content %}
<!-- HP: This is where all your shit goes! Remove what's currently here.  -->

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>About {{hackpack.project_name}}</h1>
    <hr>
    <p>{{hackpack.project_description}}</p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    {% for founder in hackpack.founders %}
      <div class="span3">
        <div class="well">
          <h2><a href="{{founder.url}}">{{founder.name}}</a></h2>
          <p>{{founder.blurb|safe}}</p>
          <hr>
          <img class="thumbnail" src="{{founder.picture}}" style="max-width:90%; margin:auto;"/>
          <hr>
          {% if founder.email %}<p>You can contact me at {{founder.email}}</p>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}

{% block footer %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock footer %}

{% block scripts %}
<!-- HP: Put your scripts here -->
{% endblock scripts %}