{% extends 'base.html' %}
{% block title %}{{block.super}}{% endblock %}

{% block styles %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}} 
{% endblock styles %}

{% block nav %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock nav %}

{% block content %}
<!-- HP: This is where all your shit goes! Remove what's currently here.  -->

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>Your Stuff Here. </p>
    <p></p>
  </div>

{% endblock content %}

{% block footer %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock footer %}

{% block scripts %}
<!-- HP: Put your scripts here -->
{% endblock scripts %}