<html>
<head>
	<style>
img.bg-img {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  z-index: -1000;
}
	</style>
</head>
<body>
	<img class="bg-img" src="file:///home/alex/djcode/popcorn-portal/mysite/media/img/1085334_24602514.jpg"/>
	<center>
		<h1 style="margin-top:300px;font-size:75px;font-family:Arial;color:white;">Popcorn-Portal.AppSpot.com</h1>
		<img src="/home/alex/djcode/popcorn-portal/mysite/media/img/PopcornKernel.png"/>	
	<center>
</body>
</html>